transformers==4.31.0
librosa==0.10.1
fastapi
accelerate
uvicorn[standard]
pandas==2.0.3
openai-whisper
setuptools-rust
ffmpeg
datasets[audio]
accelerate
evaluate
jiwer
tensorboard
gradio
torch==1.12.1
torchvision
torchaudio
soundfile
cmudict==1.0.23
